/*
	Background: #000000
	Shade: #212121 - dark grey
	Another: #303030 - grey
	Another: #424242 - light grey
	Text: #ffffff

	Green: #135630
	Green border: #3FC679
	Disabled text: #B8B8B8;
*/
/* Background */
html.darkblox-theme,
.darkblox-theme body,
.darkblox-theme .content,
.darkblox-theme .games-list-container,
.darkblox-theme .sg-container {
	background-color: #000000;
	color: #ffffff;
}

.darkblox-theme .container-footer {
	background-color: #000000;
}

.darkblox-theme #BodyWrapper,
.darkblox-theme #Body {
	background-color: #212121;
}


/* Stray Text */
.darkblox-theme .small,
.darkblox-theme .small-oneline,
.darkblox-theme h1,
.darkblox-theme h1 a:link,
.darkblox-theme h1 a:visited,
.darkblox-theme h1 a:active,
.darkblox-theme h1 .text,
.darkblox-theme h2,
.darkblox-theme h2 a:link,
.darkblox-theme h2 a:visited,
.darkblox-theme h2 a:active,
.darkblox-theme h2 .text,
.darkblox-theme h3,
.darkblox-theme h3 a:link,
.darkblox-theme h3 a:visited,
.darkblox-theme h3 a:active,
.darkblox-theme h3 .text,
.darkblox-theme pre,
.darkblox-theme .text {
	color: #ffffff;
}

.darkblox-theme .section-content-off {
	background-color: #424242;
	color: #ffffff;
}


/* Legacy */
.darkblox-theme .status-confirm {
	color: #191919;
}

.darkblox-theme #BodyWrapper .form-label {
	color: #ffffff;
}


/* Blocks */
.darkblox-theme .sg-section,
.darkblox-theme .section-content,
.darkblox-theme .roblox-popover-container,
.darkblox-theme .stack .stack-list .stack-row {
	background-color: #212121;
	color: #ffffff;
}


/* Item/Game Cards */
.darkblox-theme .store-card,
.darkblox-theme .game-card-container,
.darkblox-theme .item-card-container {
	background-color: #303030;
	color: #ffffff;
}

.darkblox-theme .item-card-name {
	color: #ffffff;
}

.darkblox-theme .item-card-label,
.darkblox-theme .game-card-experimental,
.darkblox-theme .game-card-name-secondary {
	color: #B8B8B8;
}

.darkblox-theme .sponsored-game .game-card-native-ad {
	background-color: #212121;
}


/* Avatar Cards */
.darkblox-theme .avatar-card-container {
	background-color: #303030;
	color: #ffffff;
}

.darkblox-theme .avatar-card-btns {
	background-color: #424242;
}

.darkblox-theme .avatar,
.darkblox-theme .avatar-card-container {
	background-color: #303030;
}


/* Buttons */
.darkblox-theme [class *= 'btn-buy-'],
.darkblox-theme [class *= 'btn-control-'],
.darkblox-theme .enable-three-dee,
.darkblox-theme .enable-three-dee:hover {
	background-color: #212121;
	color: #ffffff;
	border-color: #303030;
}

.darkblox-theme [class *= 'btn-primary-'],
.darkblox-theme [class *= 'btn-primary-'][disabled],
.darkblox-theme [class *= 'btn-primary-'][disabled]:hover,
.darkblox-theme [class *= 'btn-primary-'][disabled]:focus {
	background-color: #135630;
	border-color: #135630;
}

.darkblox-theme [class *= 'btn-buy-']:hover,
.darkblox-theme [class *= 'btn-buy-']:focus,
.darkblox-theme [class *= 'btn-primary-']:hover,
.darkblox-theme [class *= 'btn-primary-']:focus {
	background-color: #135630;
	border-color: #3FC679;
}

.darkblox-theme [class *= 'btn-buy-'][disabled],
.darkblox-theme [class *= 'btn-buy-'][disabled]:hover,
.darkblox-theme [class *= 'btn-buy-'][disabled]:focus,
.darkblox-theme [class *= 'btn-control-'][disabled],
.darkblox-theme [class *= 'btn-control-'][disabled]:hover,
.darkblox-theme [class *= 'btn-control-'][disabled]:focus {
	background-color: #212121;
	border-color: #303030;
	color: #B8B8B8;
}

.darkblox-theme [class *= 'btn-primary-'][disabled] {
	color: #B8B8B8;
}

.darkblox-theme #BodyWrapper button[class *= 'btn-control-'],
.darkblox-theme #BodyWrapper a[class *= 'btn-control-'],
.darkblox-theme #BodyWrapper span[class *= 'btn-control-'],
.darkblox-theme input[class *= 'btn-control-'] {
	color: #191919;
}


/* Toggle */
.darkblox-theme .btn-toggle.on {
	background-color: #135630;
}

.darkblox-theme .btn-toggle.disabled {
	opacity: 0.5;
}


/* Menu */
.darkblox-theme .menu-vertical,
.darkblox-theme .rbx-tabs-vertical .category-tabs .menu-vertical,
.darkblox-theme .menu-vertical .menu-option .menu-secondary,
.darkblox-theme .dropdown-menu,
.darkblox-theme .popover,
.darkblox-theme .rbx-tabs-horizontal .nav-tabs,
.darkblox-theme .nav-tabs > li.active > a,
.darkblox-theme .rbx-tab .rbx-tab-heading,
.darkblox-theme .rbx-tabs-horizontal #horizontal-tabs .rbx-tab:not(.active) a:not(:hover) {
	background-color: #303030;
	color: #ffffff;
}

.darkblox-theme .menu-vertical .menu-option .menu-secondary-option:focus,
.darkblox-theme .menu-vertical .menu-option .menu-secondary-option.active,
.darkblox-theme .menu-vertical .menu-option:hover,
.darkblox-theme .menu-vertical .menu-option.active,
.darkblox-theme .dropdown-menu li:hover,
.darkblox-theme .rbx-header .rbx-navbar-search .rbx-navbar-search-option.selected,
.darkblox-theme .input-group-btn .dropdown-menu li a:hover,
.darkblox-theme .input-group-btn .dropdown-menu li a:focus,
.darkblox-theme .input-group-btn .dropdown-menu li a.active {
	box-shadow: 4px 0 0 0 #000000 inset;
}

.darkblox-theme .rbx-tabs-horizontal .rbx-tab-heading:hover,
.darkblox-theme .rbx-tabs-horizontal .rbx-tab-heading:focus,
.darkblox-theme .rbx-tabs-horizontal .rbx-tab-heading:active,
.darkblox-theme .rbx-tabs-horizontal .rbx-tab.active .rbx-tab-heading {
	box-shadow: 0 -4px 0 0 #000000 inset;
}

.darkblox-theme .dropdown-menu li:hover,
.darkblox-theme .menu-vertical .menu-option:hover,
.darkblox-theme .menu-vertical .menu-option .menu-secondary-option:hover,
.darkblox-theme .rbx-tabs-horizontal .rbx-tab-heading:hover,
.darkblox-theme .nav-tabs > li.active > a:hover,
.darkblox-theme .nav-tabs > li.active > a:focus,
.darkblox-theme .rbx-header .rbx-navbar-search .rbx-navbar-search-option.selected,
.darkblox-theme .input-group-btn .dropdown-menu li a:hover,
.darkblox-theme .input-group-btn .dropdown-menu li a:focus,
.darkblox-theme .rbx-tab-horizontal-submenu li.active,
.darkblox-theme .rbx-tab-horizontal-submenu li:hover {
	background-color: #424242;
}

.darkblox-theme .popover.bottom > .arrow,
.darkblox-theme .popover.bottom > .arrow:after {
	border-bottom-color: #303030;
}

.darkblox-theme .popover-content .dropdown-menu li a,
.darkblox-theme .rbx-tabs-horizontal .rbx-tab.active .rbx-tab-heading,
.darkblox-theme .rbx-header .rbx-navbar-search .rbx-navbar-search-option a,
.darkblox-theme .rbx-tab-horizontal-submenu li,
.darkblox-theme .rbx-header .rbx-navbar-icon-group li .popover-content .rbx-menu-item,
.darkblox-theme .rbx-header .rbx-navbar-icon-group li .popover-content .rbx-menu-item:link,
.darkblox-theme .rbx-header .rbx-navbar-icon-group li .popover-content .rbx-menu-item:active,
.darkblox-theme .rbx-header .rbx-navbar-icon-group li .popover-content .rbx-menu-item:hover,
.darkblox-theme .rbx-header .rbx-navbar-icon-group li .popover-content .rbx-menu-item:visited,
.darkblox-theme .rbx-header .rbx-navbar-icon-group li .popover-content .rbx-menu-item:focus {
	color: #ffffff;
}


/* Legacy Menu */
.darkblox-theme .SquareTabGray a {
	color: #ffffff;
}

.darkblox-theme .SquareTabGray,
.darkblox-theme .verticaltab.selected,
.darkblox-theme .verticaltab:hover {
	background-color: #303030;
}

.darkblox-theme .SquareTabGray.selected,
.darkblox-theme .SquareTabGray.selected:hover,
.darkblox-theme .SquareTabGray.ui-tabs-selected,
.darkblox-theme .SquareTabGray.ui-tabs-selected:hover,
.darkblox-theme .SquareTabGray.selected a:hover,
.darkblox-theme .SquareTabGray.ui-tabs-selected a:hover {
	background-color: #212121;
}

.darkblox-theme .SquareTabGray a:hover {
	background-color: transparent;
}

.darkblox-theme .verticaltab a {
	color: #ffffff;
}


/* Modals */
.darkblox-theme .modal-content {
	background-color: #212121;
	color: #ffffff;
}

.darkblox-theme .notification-stream-body,
.darkblox-theme .notification-stream-header,
.darkblox-theme .notification-stream-list .notification-stream-item {
	background-color: #212121;
}

.darkblox-theme .notification-stream-list .notification-stream-item.unInteracted {
	background-color: #303030;
}

.darkblox-theme .notification-stream-list .notification-stream-item .notification-display-text:before {
	content: '';
}

.darkblox-theme .notification-stream-list .notification-stream-item .notification-display-text:after {
	background: transparent;
}

/* Legacy Modal */
.darkblox-theme .simplemodal-container,
.darkblox-theme .simplemodal-container span[class *= 'btn-control-'] {
	color: #191919;
}


/* Input */
.darkblox-theme .form-control,
.darkblox-theme .input-field,
.darkblox-theme .SearchKeyword,
.darkblox-theme .input-group-btn .input-dropdown-btn,
.darkblox-theme .rbx-select-group .rbx-select,
.darkblox-theme .chat-search-input,
.darkblox-theme textarea {
	color: #ffffff;
	background-color: #303030;
}

.darkblox-theme .input-group-btn .input-addon-btn,
.darkblox-theme .rbx-select-group .rbx-select:hover {
	background-color: #212121;
}


/* Icons */
.darkblox-theme .store-card-thumb[src *= 'placeholder_add'],
.darkblox-theme .store-card-add > img,
.darkblox-theme .icon-right-16x16,
.darkblox-theme .icon-down-16x16,
.darkblox-theme .icon-more,
.darkblox-theme .icon-grid,
.darkblox-theme .icon-slideshow,
.darkblox-theme .icon-sorting,
.darkblox-theme .icon-nav-search,
.darkblox-theme .icon-play,
.darkblox-theme .icon-pause,
.darkblox-theme .icon-brokenpage,
.darkblox-theme .icon-audio,
.darkblox-theme .icon-search,
.darkblox-theme .icon-plus,
.darkblox-theme .icon-minus,
.darkblox-theme .icon-edit,
.darkblox-theme .icon-nav-group,
.darkblox-theme .icon-moreinfo {
	filter: invert(100%);
}


/* Bubbles */
.darkblox-theme .notification-blue {
	background-color: #303030;
}


/* Navigation */
.darkblox-theme .rbx-left-col {
	background-color: #212121;
	color: #ffffff;
}

.darkblox-theme .rbx-header {
	background-color: #303030;
	color: #ffffff;
}

.darkblox-theme .rbx-left-col li a {
	color: #ffffff;
}

.darkblox-theme .rbx-scrollbar li span[class ^= 'icon'] {
	filter: invert(100%);
}

.darkblox-theme .rbx-scrollbar li:hover span[class ^= 'icon'] {
	filter: invert(0%);
}

.darkblox-theme .rbx-header .rbx-navbar li .nav-menu-title:hover,
.darkblox-theme .rbx-header .rbx-navbar li .nav-menu-title:focus {
	background-color: #424242;
}



/* Messages page */
.darkblox-theme .messages .messageDivider {
	background-color: #303030;
	color: #ffffff;
}

.darkblox-theme .messages .messageDivider.unread {
	background-color: #424242;
}

.darkblox-theme .messages .messageDivider:hover {
	box-shadow: 4px 0 0 0 #212121 inset;
}

.darkblox-theme .message-summary-content .subject,
.darkblox-theme .messages .messageDivider.unread .message-summary-body .subject {
	color: #ffffff;
}

.darkblox-theme .message-reply {
	background: transparent;
}



/* Groups */
.darkblox-theme #mid-column .StandardBox {
	background: #212121 !important;
}

.darkblox-theme .GroupWallPane .AlternatingItemTemplateOdd {
	background-color: #303030;
}

.darkblox-theme .GroupWallPane .AlternatingItemTemplateEven {
	background-color: #424242;
}

.darkblox-theme #mid-column .tab-content,
.darkblox-theme #mid-column .tab-container + div > div {
	background-color: #212121;
}

.darkblox-theme #ctl00_cphRoblox_GroupStatusPane_StatusTextField {
	color: #191919;
}

.darkblox-theme .GroupPlace .PlayersOnline,
.darkblox-theme .GroupOwner,
.darkblox-theme .MyRank {
	color: #B8B8B8;
}

.darkblox-theme #SearchControls,
.darkblox-theme #SearchControls .content,
.darkblox-theme .GroupControlsBox,
.darkblox-theme #left-column .StandardBox,
.darkblox-theme .StatusView .bottom .content {
	background: transparent;
	border: none;
}

.darkblox-theme .redesign .tab_white_31h_container .ajax__tab_active .ajax__tab_inner,
.darkblox-theme .tab.active,
.darkblox-theme .tab-container > .tab-active,
.darkblox-theme .tab-container > .tab-active:hover {
	background-color: #212121;
}

.darkblox-theme .redesign .tab_white_31h_container .ajax__tab_inner,
.darkblox-theme .tab,
.darkblox-theme .tab-container > div {
	background-color: #303030;
}

.darkblox-theme #AuditPage h1 a,
.darkblox-theme #AuditPage h1 a:hover,
.darkblox-theme #ctl00_cphRoblox_StatusRank {
	color: #ffffff;
}

.darkblox-theme .table-header th,
.darkblox-theme .AuditLogContainer tr.header td {
	background-color: #303030;
}

.darkblox-theme td.avatar {
	background-color: transparent;
}

.darkblox-theme .GroupListImageContainer img {
	background-color: #424242;
	border: #424242;
}

.darkblox-theme .GroupListItemContainer {
	border-top-color: #ffffff;
	border-top-style: solid;
	border-width: 1px;
}

.darkblox-theme .GroupListItemContainer:first-child {
	border: none;
}

.darkblox-theme .GroupListItemContainer:hover,
.darkblox-theme .GroupListItemContainer.selected:hover {
	background-color: #303030;
}

.darkblox-theme .btn-control.btn-control-medium {
	filter: invert(90%);
}


/* Group Search */
.darkblox-theme .list-item .group-card {
	background-color: #303030;
}


/* Develop */
.darkblox-theme #build-page .gear-button-wrapper:not([style *= '239' ]) {
	border: none !important;
	background: transparent !important;
}

.darkblox-theme #BodyWrapper .tab-content,
.darkblox-theme #BodyWrapper .tab-container + div > div {
	background-color: #212121;
}

.darkblox-theme #build-page td.menu-area a.tab-item {
	color: #ffffff !important;
	background-color: #303030;
}

.darkblox-theme #build-page td.menu-area a.tab-item-selected,
.darkblox-theme #build-page td.menu-area a.tab-item:hover {
	background-color: #424242;
	border: none;
}

.darkblox-theme #build-page table.section-header label.checkbox-label,
.darkblox-theme #build-page .item-table .totals-label span,
.darkblox-theme .HoverInfo,
.darkblox-theme .CatalogItemInner:hover .HoverInfo,
.darkblox-theme .CatalogItemInner span.NotAPrice {
	color: #ffffff;
}

.darkblox-theme .CatalogItemInfoLabel,
.darkblox-theme .CatalogItemInner:hover .CatalogItemInfoLabel {
	color: #B8B8B8;
}

.darkblox-theme .CatalogItemInner {
	width: 110px;
}

.darkblox-theme .CatalogItemInner,
.darkblox-theme .CatalogItemInner:hover {
	background: #303030;
}

.darkblox-theme .SmallCatalogItemView {
	background: transparent;
}



/* Money */
.darkblox-theme .StandardPanelContainer .StandardPanelWhite,
.darkblox-theme #Summary_tab .RobuxColumn {
	background-color: transparent;
}

.darkblox-theme #MyTransactions_tab .loading,
.darkblox-theme #TradeItems_tab .loading,
.darkblox-theme #Promotion_tab .loading,
.darkblox-theme #Summary_tab .loading {
	background-color: #212121;
}



/* Configure game */
.darkblox-theme .missing-start-place {
	background-color: #212121;
}



/* Profile */
.darkblox-theme .slide-switcher .slide-item-container .slide-item-container-right {
	background-color: #212121;
}

.darkblox-theme .slide-switcher.groups {
	background-color: #303030;
}

.darkblox-theme .profile-accoutrements-container .profile-accoutrements-slider .accoutrement-item a {
	background-color: #303030;
}



/* Account Settings */
.darkblox-theme .content .page-content .rbx-tab-content .settings-social-networks-container .form-group p .membership-name,
.darkblox-theme .content .page-content .rbx-tab-content .settings-privacy-container .form-group p .membership-name,
.darkblox-theme .content .page-content .rbx-tab-content .settings-billing-container .form-group p .membership-name {
	color: #ffffff;
}



/* Catalog */
.darkblox-theme #catalog-content {
	background-color: transparent;
}

.darkblox-theme #catalog-content .menu-link.small:hover,
.darkblox-theme #catalog-content .menu-link.small.active {
	color: #00A2FF;
}



/* Item Page */
.darkblox-theme .sale-clock .text {
	color: #E2231A;
}

.darkblox-theme rect {
	fill: #000000;
}



/* Error Page */
.darkblox-theme .default-error-page {
	background: transparent;
}



/* R+ Quick Info */
.darkblox-theme ul.item-cards.rplus > li.list-item.item-card > .item-card-container {
	background-color: #303030;
}



/* Chat */
.darkblox-theme .dialog-container .dialog-header,
.darkblox-theme .chat-main .chat-header,
.darkblox-theme .chat-windows-header {
	background-color: #212121;
	border-color: #212121;
}

.darkblox-theme .dialog-container .dialog-body,
.darkblox-theme .dialog-container .dialog-input-container,
.darkblox-theme .dialog-container .dialog-message-container .link-card-container {
	background-color: #303030;
	border-color: #212121;
}

.darkblox-theme .dialog-container .dialog-message-container.message-inbound .dialog-message {
	background-color: #424242;
	border-color: #424242;
	color: #ffffff;
}

.darkblox-theme .dialog-container .dialog-message-container.message-inbound .dialog-triangle:before {
	border-color: transparent #424242 transparent transparent;
}

.darkblox-theme .dialog-container .typing {
	filter: invert(70%);
}

.darkblox-theme .chat-main,
.darkblox-theme #chat-container .details-container,
.darkblox-theme #chat-container .friends-list-container,
.darkblox-theme #chat-container .details-members-container .add-friends-option,
.darkblox-theme #chat-container .details-btns {
	background-color: #303030;
}

.darkblox-theme .chat-friend-list .chat-friend-info,
.darkblox-theme #chat-container .friends-list-container .friend-container .friend-info-action,
.darkblox-theme #chat-container .details-members-container .add-friends-option .add-friends-label,
.darkblox-theme #chat-container .details-members-label,
.darkblox-theme .chat-search {
	border-color: #212121;
}

.darkblox-theme .chat-friend-list .chat-friend-container:hover,
.darkblox-theme #chat-container .friends-list-container .friend-container:hover,
.darkblox-theme #chat-container #dialog-member-header {
	background-color: #212121;
}

.darkblox-theme .chat-friend-list .chat-friend-info .chat-friend-message {
	color: #B8B8B8;
}

.darkblox-theme .dialog-container .dialog-message-container .indicated-message-bubble {
	background: #212121;
	color: #B8B8B8;
}

.darkblox-theme .participant-list-container .dropdown-menu li a,
.darkblox-theme .participant-list-container .dropdown-menu li a:hover,
.darkblox-theme .participant-list-container .dropdown-menu li a:visited {
	color: #ffffff;
}

.darkblox-theme .dialog-container .dialog-banner .group-member,
.darkblox-theme .chat-friend-list .chat-friend-container .chat-friend-avatar,
.darkblox-theme .chat-friend-list .chat-friend-container .chat-friend-info {
	border-color: transparent;
}
