/* OBC theme V2 [8/19/2017] */
/*
	Colors
	- Background: 254, 212, 252 (color 91, 56, 109)
	- Navigation: 220, 126, 207
	- Bubbles: 233, 185, 227

	TODO: How do radio buttons get their border when clicked?
*/
/* Background */
.easter-theme-v2 .container-main,
.easter-theme-v2 #navContent {
	background: url(images/EasterBackground.png) top center repeat-x rgb(254, 212, 252);
}

.easter-theme-v2 .container-footer {
	background-color: rgb(254, 212, 252);
}

.easter-theme-v2 .container-footer .footer-note {
	color: rgb(91, 56, 109);
}

.easter-theme-v2 .content,
.easter-theme-v2 #Body,
.easter-theme-v2 #BodyWrapper {
	background-color: rgba(255, 255, 255, 0.4);
	outline: rgba(255, 255, 255, 0.4) solid 10px;
}

/* Standard */
.easter-theme-v2 .notification-blue,
.easter-theme-v2 .dialog-container .dialog-message-container:not(.message-inbound) .dialog-message,
.easter-theme-v2 .breadcrumb-container li.breadcrumb-filter,
.easter-theme-v2 .radio input[type="radio"] + label::after,
.easter-theme-v2 .radio input[type="radio"]:checked + label::after,
.easter-theme-v2 .checkbox input[type="checkbox"]:checked:not([disabled]) + label::before,
.easter-theme-v2 .pill-toggle input:checked + label,
.easter-theme-v2 .input-group-btn .input-dropdown-btn:hover,
.easter-theme-v2 .input-group-btn .input-dropdown-btn:focus,
.easter-theme-v2 .open .input-dropdown-btn {
	background-color: rgb(233, 185, 227);
	border-color: rgb(233, 185, 227);
	color: rgb(91, 56, 109);
}

.easter-theme-v2 .radio label:hover::before,
.easter-theme-v2 .radio input[type="radio"]:focus + label::before,
.easter-theme-v2 .checkbox label:hover::before,
.easter-theme-v2 .checkbox input[type="checkbox"]:focus + label::before,
.easter-theme-v2 .input-field:focus {
	border-color: rgb(233, 185, 227);
}

.easter-theme-v2 button:focus {
	outline-color: rgb(233, 185, 227);
}

.easter-theme-v2 .dropdown-menu li:hover,
.easter-theme-v2 .notification-stream-list .notification-stream-item:hover,
.easter-theme-v2 .input-group-btn .dropdown-menu li a:hover,
.easter-theme-v2 .input-group-btn .dropdown-menu li a:focus,
.easter-theme-v2 .input-group-btn .dropdown-menu li a.active,
.easter-theme-v2 .input-group-btn .dropdown-menu li:hover,
.easter-theme-v2 .menu-vertical .menu-option:hover,
.easter-theme-v2 .menu-vertical .menu-option:focus,
.easter-theme-v2 .menu-vertical .menu-option.active,
.easter-theme-v2 .menu-vertical .menu-option .menu-secondary-option:focus,
.easter-theme-v2 .menu-vertical .menu-option .menu-secondary-option.active,
.easter-theme-v2 .messages .messageDivider:hover,
.easter-theme-v2 .rbx-header .rbx-navbar-search .rbx-navbar-search-option.selected {
	box-shadow: 4px 0 0 0 rgb(220, 126, 207) inset;
}

.easter-theme-v2 .rbx-tabs-horizontal .rbx-tab.active .rbx-tab-heading,
.easter-theme-v2 .rbx-tabs-horizontal .rbx-tab-heading:hover,
.easter-theme-v2 .rbx-tabs-horizontal .rbx-tab-heading:focus,
.easter-theme-v2 .rbx-tabs-horizontal .rbx-tab-heading:active {
	box-shadow: 0 -4px 0 0 rgb(220, 126, 207) inset;
}

/* Forums and navigation */
.easter-theme-v2 #header,
.easter-theme-v2 .forum-table-header,
.easter-theme-v2 .forum-table-header th,
.easter-theme-v2 .forum-table-footer,
.easter-theme-v2 .dialog-container .dialog-header,
.easter-theme-v2 .chat-main .chat-header {
	background-color: rgb(220, 126, 207);
}

.easter-theme-v2 .forum-table-header .normalTextSmallBold {
	color: rgb(255, 255, 255);
}


.easter-theme-v2 .rbx-header .rbx-navbar li .nav-menu-title:hover,
.easter-theme-v2 .rbx-header .rbx-navbar li .nav-menu-title:focus {
	background-color: rgba(255, 255, 255, 0.4);
}

.easter-theme-v2 #header {
	background-image: url(images/EasterBar.png);
	background-repeat: repeat-x;
}

.easter-theme-v2 .icon-nav-profile, 
.easter-theme-v2 .icon-nav-friends, 
.easter-theme-v2 .icon-nav-charactercustomizer, 
.easter-theme-v2 .icon-nav-inventory, 
.easter-theme-v2 .icon-nav-group, 
.easter-theme-v2 .icon-nav-shop {
	background-image: url(images/EasterIcons.svg);
}

/* Chat */
@keyframes rplus-blink-dialog {
	from {
		background-color: rgb(220, 126, 207);
	}

	to {
		background-color: rgb(233, 185, 227);
	}
}

.easter-theme-v2 .dialog-container.active .dialog-header,
.easter-theme-v2 .dialog-container.active .dialog-header .dialog-header-title {
	animation: rplus-blink-dialog .5s alternate infinite;
}


/* WebGL3D */
