/* OBC theme V2 [8/19/2017] */
/*
	Colors
	- Background: 34, 34, 34
	- Navigation: 49, 49, 49
	- Bubbles: 79, 79, 79
	
	TODO: How do radio buttons get their border when clicked?
*/
/* Background */
.obc-theme-v2 .container-main, .obc-theme-v2 #navContent {
	background: url(https://images.rbxcdn.com/7b740ce2fe1bb189612252b3b93c5b83.jpg) top center repeat-x rgb(34, 34, 34);
}

.obc-theme-v2 .container-footer {
	background-color: rgb(34, 34, 34);
}

.obc-theme-v2 .container-main > .content {
	background-color: #E3E3E3;
	outline: #E3E3E3 solid 10px;
}

.obc-theme-v2 #BodyWrapper {
	background-color: white;
	outline: white solid 10px;
}

.obc-theme-v2 #Body {
	background: transparent;
}

/* Standard */
.obc-theme-v2 .notification-blue,
.obc-theme-v2 .dialog-container .dialog-message-container:not(.message-inbound) .dialog-message,
.obc-theme-v2 .breadcrumb-container li.breadcrumb-filter,
.obc-theme-v2 .radio input[type="radio"]:checked + label::after,
.obc-theme-v2 .checkbox input[type="checkbox"]:checked:not([disabled]) + label::before,
.obc-theme-v2 .pill-toggle input:checked + label,
.obc-theme-v2 .input-group-btn .input-dropdown-btn:hover,
.obc-theme-v2 .input-group-btn .input-dropdown-btn:focus,
.obc-theme-v2 .open .input-dropdown-btn {
	background-color: rgb(79, 79, 79);
	border-color: rgb(79, 79, 79);
}

.obc-theme-v2 .radio label:hover::before,
.obc-theme-v2 .radio input[type="radio"]:focus + label::before,
.obc-theme-v2 .checkbox label:hover::before,
.obc-theme-v2 .checkbox input[type="checkbox"]:focus + label::before,
.obc-theme-v2 .input-field:focus {
	border-color: rgb(79, 79, 79);
}

.obc-theme-v2 button:focus {
	outline-color: rgb(79, 79, 79);
}

.obc-theme-v2 .dropdown-menu li:hover,
.obc-theme-v2 .notification-stream-list .notification-stream-item:hover,
.obc-theme-v2 .input-group-btn .dropdown-menu li a:hover,
.obc-theme-v2 .input-group-btn .dropdown-menu li a:focus,
.obc-theme-v2 .input-group-btn .dropdown-menu li a.active,
.obc-theme-v2 .input-group-btn .dropdown-menu li:hover,
.obc-theme-v2 .menu-vertical .menu-option:hover,
.obc-theme-v2 .menu-vertical .menu-option:focus,
.obc-theme-v2 .menu-vertical .menu-option.active,
.obc-theme-v2 .menu-vertical .menu-option .menu-secondary-option:focus,
.obc-theme-v2 .menu-vertical .menu-option .menu-secondary-option.active,
.obc-theme-v2 .messages .messageDivider:hover,
.obc-theme-v2 .rbx-header .rbx-navbar-search .rbx-navbar-search-option.selected {
	box-shadow: 4px 0 0 0 rgb(49, 49, 49) inset;
}

.obc-theme-v2 .rbx-tabs-horizontal .rbx-tab.active .rbx-tab-heading,
.obc-theme-v2 .rbx-tabs-horizontal .rbx-tab-heading:hover,
.obc-theme-v2 .rbx-tabs-horizontal .rbx-tab-heading:focus,
.obc-theme-v2 .rbx-tabs-horizontal .rbx-tab-heading:active {
	box-shadow: 0 -4px 0 0 rgb(49, 49, 49) inset;
}

/* navigation */
.obc-theme-v2 #header,
.obc-theme-v2 .dialog-container .dialog-header,
.obc-theme-v2 .chat-main .chat-header {
	background-color: rgb(49, 49, 49);
}


.obc-theme-v2 .rbx-header .rbx-navbar li .nav-menu-title:hover,
.obc-theme-v2 .rbx-header .rbx-navbar li .nav-menu-title:focus {
	background-color: rgba(25, 25, 25, 0.75);
}

/* Chat */
@keyframes rplus-obc-blink-dialog {
	from {
		background-color: rgb(49, 49, 49);
	}

	to {
		background-color: rgb(79, 79, 79);
	}
}

.obc-theme-v2 .dialog-container.active .dialog-header,
.obc-theme-v2 .dialog-container.active .dialog-header .dialog-header-title {
	animation: rplus-obc-blink-dialog .5s alternate infinite;
}


/* WebGL3D */
