/* style.css [4/20/16] */
textarea,code{
	tab-size: 4;
	-moz-tab-size: 4;
}

#navigation .rplus-icon{
	background-size: 100%;
	background-repeat: no-repeat;
	height: 28px;
	width: 28px;
	vertical-align: middle;
}



/* Basic */
.notification-blue:empty,.notification-red:empty{
	display: none;
}

#rplusConfirmModal .modal-footer-note:empty{
	display: none;
}


.btn-toggle{
	padding: 0px !important;
}


.store-card{
	box-sizing: border-box;
	box-shadow: 0 1px 4px 0 rgba(25,25,25,0.3);
	background-color: #fff;
	border: 0 none;
	border-radius: 3px;
	margin: 0 5% 0 0;
	max-width: 150px;
	padding: 0;
	position: relative;
}
.store-card:hover{
	box-shadow: 0 1px 6px 0 rgba(25, 25, 25, 0.75);
}

.store-card img{
	max-width: 150px;
	max-height: 150px;
	width: 100%;
	height: auto;
}

.store-card .store-card-caption{
	border-top: 1px solid #B8B8B8;
	padding: 0 6px 6px;
}

.store-card .store-card-footer{
	height: 36px;
	text-align: center;
	margin-top: 6px;
}

.store-card .store-card-price{
	line-height: 1em;
}

.store-card .store-card-price .icon-robux{
	background-position: 0 -64px;
	background-size: 32px auto;
	width: 16px;
	height: 16px;
}


.rplusinventory[userid]{
	cursor: pointer;
}



/* Slider */
input.rplusslider[type='range']{
	width: 130px;
	height: 3px;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: 0;
	position: relative;
	top: -3px;
}

input.rplusslider[type='range']::-webkit-slider-thumb{
	width: 16px;
	height: 16px;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 8px;
	background: rgb(255,255,255);
	box-shadow: 1px 1px 5px #888888;
}



/* Audio */
.rplusaudio{
	-webkit-user-select: none;
	-moz-user-select: none;
}
.rplusaudio.icon-play:hover{
	cursor: pointer;
	background-position: -28px -308px;
}
.rplusaudio.icon-pause:hover{
	cursor: pointer;
	background-position: -28px -336px;
}

.rplusaudio:hover input.rplusslider[type='range'],.rplusaudio:active input.rplusslider[type='range'],.rplusaudio:focus input.rplusslider[type='range']{
	width: 50px;
	top: -31px;
	left: -11px;
}
 
.MediaPlayerIcon.rplusaudio:hover input.rplusslider[type='range'],.MediaPlayerIcon.rplusaudio:active input.rplusslider[type='range'],.MediaPlayerIcon.rplusaudio:focus input.rplusslider[type='range']{
	width: 50px;
	top: -26px;
	left: -14px;
}

.rplusaudio>input.rplusslider[type='range']{
	overflow: hidden;
	position: relative;
	width: 0px;
	height: 8px;
	left: 11px;
	top: -5px;
	transform: rotate(270deg);
	-webkit-transition: width .25s,top .25s,left .25s;
	-moz-transition: width .25s,top .25s,left .25s;
	border-radius: 8px;
}

.MediaPlayerIcon.rplusaudio>input.rplusslider[type='range']{
	left: 14px;
}

.rplusaudio>input.rplusslider[type='range']::-webkit-slider-thumb{
	width: 8px;
	height: 8px;
}




/* Control Panel */
#rplusControlPanel label{
	display: inline-block;
	margin-left: 3px;
	margin-right: 5px;
}
#rplusControlPanel label[for]{
	height: 16px;
	width: auto;
	min-width: 250px;
}

#rplusControlPanel .form-group{
	margin-bottom: 5px;
}
#rplusControlPanel .form-group>.form-group{
	margin-left: 20px;
	margin-bottom: 0px;
}

#rplusControlPanel .form-group>label:not([for])::before{
	border: none;
}

#rplusControlPanel .rbx-tooltip{
	height: 28px;
	width: 28px;
	display: inline-block;
	vertical-align: middle;
}
#rplusControlPanel .rbx-tooltip>.icon-moreinfo{
	top: 0px;
	left: 0px;
	position: relative;
}
#rplusControlPanel .tooltip{
	width: 200px;
}
#rplusControlPanel .tooltip-inner{
	text-align: center;
}

#rplusControlPanel .rbx-select-group .rbx-tooltip{
	cursor: default;
}
#rplusControlPanel .rbx-select{
	width: auto;
	height: 26px;
	margin-left: 5px;
	background-position: 98% 0px;
}

#rplusControlPanel .input-field{
	height: 26px;
	position: relative;
	top: 2px;
	margin-left: 3px;
	padding-left: 3px;
}


#rplusFeatures .form-group{
	margin-bottom: 10px;
}
#rplusFeatures label{
	margin-left: 0px;
}
#rplusFeatures a{
	color: #00A2FF;
}
#rplusFeatures a:hover{
	text-decoration: underline;
}



/* Profile */
.profile-header .header-details .details-info li{
	width: 25% !important;
}

.profile-avatar-right .profile-avatar-mask{
	padding: 20px 18px !important;
}



/* Groups */
.GroupWall_PostContainer{
	white-space: pre-wrap;
}



/* Money */
#RPlusTradeId{
	position: absolute;
	top: 3px;
	left: 3px;
	font-size: 10px;
	color: rgb(150,150,150);
}

#rplusCancelOutbound{
	position: absolute;
	width: 58px;
	left: calc(100% - 75px);
}

#TradeRequest .InventoryItemContainerOuter:hover .InventoryItemContainerInner{
	height: 170px !important;
}
#TradeRequest .InventoryItemContainerOuter[withserial]:hover .InventoryItemContainerInner{
	height: 190px !important;
}

.InventoryItemContainerInner:hover .BuildersClubOverlay{
	top: -78px !important;
}

#rplusLMaD{
	position: absolute;
	left: 10px;
	bottom: 10px;
}



/* Forum */
#ctl00_cphRoblox_PostView1_ctl00_PostTitle,div[class='thread-link-outer-wrapper']>div,.forum-table-row .last-post>div,tr.forum-post>.forum-content-background:first-child .normalTextSmallBold{
	overflow: hidden;
}

.forum-table-row .post-list-author>div>div,.forum-table-row .last-post>div{
	max-width: 120px !important;
}

#ctl00_cphRoblox_Createeditpost1_PostForm_AllowReplies{
	vertical-align: middle;
	margin: 0px;
}

#ctl00_cphRoblox_Createeditpost1_PostForm_PreviewBody{
	white-space: pre-wrap;
}


.rplusforumcheckbox input[type='checkbox']{
	vertical-align: middle;
	margin: 0px;
}


tr.forum-post>.forum-content-background:first-child{
	-moz-user-select: none;
}

tr.forum-post>.forum-content-background:first-child .normalTextSmallBold{
	display: inline-flex;
	max-width: 138px;
}

tr.forum-post.forumshrink>.forum-content-background:nth-child(2)>table>tbody>tr:nth-child(2)>td>*{
	display: inline-block;
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
	height: 135px;
}


tr.forum-post .MediaPlayerIcon,tr.forum-post .linkify img{
	display: inline-block;
	vertical-align: middle;
}

tr.forum-post a>span{
	display: inline-block;
    width: 16px;
    height: 16px;
	background-size: 100%;
	vertical-align: middle;
}

tr.forum-post a[href*='youtu.be']>span{
	background-image: url(https://www.youtube.com/favicon.ico);
}


.rplusLua{
	position: relative;
	display: inline-block;
	width: 100%;
	font-family: Courier New;
	font-size: 10pt;
	color: rgb(0, 0, 0);
	line-height: 17px;
	overflow-x: scroll;
	overflow-y: hidden;
}

.rplusLua::-webkit-scrollbar{
	height: 6px;
}
.rplusLua::-webkit-scrollbar-track{
	background-color: transparent;
}
.rplusLua::-webkit-scrollbar-thumb{
	background-color: rgb(188, 188, 188);
	border-radius: 3px;
	-webkit-transition: background-color .5s;
	-moz-transition: background-color .5s;
}
.rplusLua::-webkit-scrollbar-thumb:hover{
	background-color: rgb(169,169,169);
}

.rplusLua>*{
	position: absolute;
	height: 100%;
}

.rplusLua>span{
	padding-left: 3px;
	-moz-user-select: none;
	width: 35px;
	background-color: rgb(221,221,221);
}
.rplusLua>code{
	left: 38px;
	padding-left: 3px;
	word-wrap: normal;
	white-space: pre;
	overflow: hidden;
	width: auto;
	min-width: calc(100% - 41px);
	font-family: Courier New;
	background-color: rgb(245,245,245);
}



/* Games */
.rbx-running-games-footer .pager{
	width: 250px;
	margin: 0px auto;
}



/* Inventory */
.recommended-thumb{
	position: relative;
}

.item-card-thumb-container .rplusaudio,.recommended-thumb .rplusaudio{
	position: absolute;
	top: calc(100% - 28px);
	left: calc(100% - 28px);
}

.item-card-thumb-container .icon-alert{
	position: absolute;
	top: 0px;
	left: calc(100% - 20px) !important;
}



/* New Message */
#newmessage-content .message-title>a{
	margin-right: 5px;
}
#newmessage-content .message-title>a>span{
	margin-top: -3px;
}
#newmessage-content .message-title>input{
	margin-left: 12px;
	height: 20px;
	padding-left: 5px;
}



/* Character */
#tab_wardrobe{
	height: auto !important;
	min-height: 200px;
}
.CustomizeCharacterContainer .AttireContent{
	min-height: 150px !important;
}

#tab_wardrobe>input{
	width: 100%;
	font-size: 14px;
	height: 14px;
	margin-bottom: 5px;
}

#tab_wardrobe .AttireContent>.Asset{
	max-height: 180px;
	overflow: hidden;
}

#tab_wardrobe a.AssetThumbnail{
	display: inline-block;
}

#tab_wardrobe a>div.btn-neutral{
	display: block;
	position: absolute;
	top: 0px;
	right: -4px;
	text-align: center;
}


#ctl00_ctl00_cphRoblox_cphMyRobloxContent_ColorChooser>div{
	transition: height .25s;
	overflow: hidden;
}

#ctl00_ctl00_cphRoblox_cphMyRobloxContent_ColorChooser>div:not([id]){
	height: 350px;
	width: 350px;
	position: relative;
}

#ctl00_ctl00_cphRoblox_cphMyRobloxContent_ColorChooser>div:not([id])>div{
	position: absolute;
	width: 35px;
	height: 35px;
	margin: 4.375px;
	cursor: pointer;
}

#ctl00_ctl00_cphRoblox_cphMyRobloxContent_ColorChooser{
	position: relative;
}

#ctl00_ctl00_cphRoblox_cphMyRobloxContent_ColorChooser>.btn-neutral{
	position: absolute;
	right: -5px;
	top: 0px;
}



/* Item V2 */
.resale-pricechart-tabs[rplus='1'] #horizontal-tabs .rbx-tab{
	width: 100%;
}

.resale-pricechart-tabs[rplus='2'] #horizontal-tabs .rbx-tab{
	width: 50%;
}

.resale-pricechart-tabs[rplus='3'] #horizontal-tabs .rbx-tab{
	width: 33.333%;
}

.resale-pricechart-tabs[rplus='4'] #horizontal-tabs .rbx-tab{
	width: 25%;
}

.resale-pricechart-tabs[rplus='5'] #horizontal-tabs .rbx-tab{
	width: 20%;
}


#price-chart .price-chart-info-container{
	width: 25%;
}


#owners .pager{
	float: right;
	margin: 0px;
}
#owners .pager, #owners .pager *{
	display: inline-block;
}
#owners .pager .input-field{
	height: 24px;
	margin-left: 5px;
	margin-right: 5px;
}

#owners .avatar[data-bc="1"] {
	box-shadow: 0 1px 4px 0 rgba(0, 163, 217, .7);
}
#owners .avatar[data-bc="1"]:hover {
	box-shadow: 0 1px 4px 0 rgba(0, 163, 217, 1);
}

#owners .avatar[data-bc="2"] {
	box-shadow: 0 1px 4px 0 rgba(229, 133, 18, .7);
}
#owners .avatar[data-bc="2"]:hover {
	box-shadow: 0 1px 4px 0 rgba(229, 133, 18, 1);
}

#owners .avatar[data-bc="3"] {
	box-shadow: 0 1px 4px 0 rgba(217, 0, 0, .7);
}
#owners .avatar[data-bc="3"]:hover {
	box-shadow: 0 1px 4px 0 rgba(217, 0, 0, 1);
}



/* Messages */
.roblox-messages-container.rplus>ui-view.tab-content-container{
	display: none;
}
.roblox-messages-container:not(.rplus)>div.tab-content-container{
	display: none;
}


.roblox-messages-container.rplus .roblox-messages-btns{
	transition: height .25s;
	overflow: hidden;
}
.roblox-messages-container.rplus .roblox-messages-btns>div:last-child{
	margin-top: 40px;
}
.roblox-messages-container.rplus .roblox-messages-btns>div:last-child>*{
	float: left;
}
.roblox-messages-container.rplus .roblox-messages-btns>div:last-child>input{
	height: 15px;
	width: 200px;
	font-size: 14px;
}
.roblox-messages-container.rplus .roblox-messages-btns>div:last-child>select{
	height: 27px;
	display: inline-block;
}
.roblox-messages-container.rplus .roblox-messages-btns>div:last-child>button{
	margin-top: 0px;
}


.roblox-messages-container>div.tab-content-container .pagingDiv>*{
	vertical-align: middle;
}
.roblox-messages-container>div.tab-content-container .pagingDiv>input{
	margin: 0px 4px;
	height: 15px;
	width: 100px;
	text-align: center;
	font-size: 14px;
}

.roblox-messages-container>.tab-container .notifications-count{
	margin-left: -2px;
}



/* Popbox */
#rplusPopbox{
	position: fixed;
	height: 500px;
	width: 300px;
	top: 50px;
	left: 100%;
	transition: left .5s;
	background-color: #fff;
	box-shadow: 0 1px 4px 0 rgba(25, 25, 25, 0.3);
	border-radius: 6px;
	z-index: 100;
	font-family: Source Sans Pro;
}
#rplusPopbox.open{
	left: calc(100% - 300px);
}
#rplusPopbox.open #rplusPopboxHover{
	display: none;
}

#rplusPopboxHover{
	height: 32px;
	width: 32px;
	left: -32px;
	top: calc(50% - 16px);
	position: absolute;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #B8B8B8;
	border-radius: 100%;
	overflow: hidden;
	transition: all .1s;
}
#rplusPopboxHover>img{
	height: calc(100% - 8px);
	width: calc(100% - 8px);
	top: 4px;
	left: 4px;
	position: absolute;
}
#rplusPopboxHover:hover{
	box-shadow: 0 1px 3px rgba(150, 150, 150, 0.74);
	width: 40px;
	height: 40px;
	left: -40px;
	top: calc(50% - 20px);
}

#rplusPopbox>.icon-close,#rplusPopbox>.icon-back{
	position: absolute;
	width: 28px;
	height: 28px;
	top: 0px;
	cursor: pointer;
}
#rplusPopbox>.icon-back{
	left: 0px;
}
#rplusPopbox>.icon-close{
	left: calc(100% - 28px);
}

#rplusPopbox>p{
	position: absolute;
	width: 244px;
	left: 28px;
	top: 0px;
	height: 28px;
	text-align: center;
	font-size: 15px;
	margin: 0px;
}
#rplusPopbox>p>a{
	color: black;
}
#rplusPopbox>p>a:not([href]){
	cursor: default;
}
#rplusPopbox>p>a.fail{
	color: red;
}

#rplusPopbox input{
	font-family: Source Sans Pro;
	box-sizing: border-box;
}
#rplusPopbox>input{
	position: absolute;
	width: 100%;
	top: 28px;
	left: 0px;
	height: 28px;
	border-style: solid none solid none;
}


#rplusPopbox>div{
	position: absolute;
	height: calc(100% - 56px);
	width: 100%;
	top: 56px;
	left: 0px;
	overflow-x: hidden;
	overflow-y: auto;
}
#rplusPopbox *::-webkit-scrollbar{
	width: 6px;
}
#rplusPopbox *::-webkit-scrollbar-track{
	background-color: rgb(240, 240, 240);
}
#rplusPopbox *::-webkit-scrollbar-thumb{
	background-color: rgb(188, 188, 188);
	border-radius: 3px;
	-webkit-transition: background-color .5s;
	-moz-transition: background-color .5s;
}
#rplusPopbox *::-webkit-scrollbar-thumb:hover{
	background-color: rgb(169, 169, 169);
}

#rplusPopbox>div>div{
	position: static;
	width: 100%;
	overflow-x: hidden;
	height: auto;
}

#rplusPopbox>div>div>a.icon{
	display: block;
	position: relative;
	width: 110px;
	height: 110px;
}
#rplusPopbox>div>div>a.icon>img{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 110px;
	height: 110px;
}
#rplusPopbox>div>div>a.icon>span{
	position: absolute;
	width: 110px;
	height: 14px;
	left: 0px;
	top: calc(100% - 14px);
}
#rplusPopbox>div>div>a.icon>span:not([class]){
	display: none;
}


#rppbiPrice{
	position: absolute;
	top: 5px;
	left: 115px;
	width: calc(100% - 120px);
}
#rppbiPrice>input{
	position: absolute;
	height: 28px;
	width: calc(100% - 32px);
	top: 0px;
	left: 30px;
}
#rppbiPrice>input[readonly]{
	border: none;
}
#rppbiPrice>span:last-child{
	position: absolute;
	height: 14px;
	width: calc(100% - 32px);
	top: 12px;
	left: 30px;
}

#rppbiDescription{
	position: absolute;
	height: 70px;
	left: 115px;
	top: 35px;
	width: calc(100% - 120px);
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0px;
	resize: none;
	outline: 0;
}
#rppbiDescription[readonly]{
	border: none;
}

#rplusPopboxItem>table{
	width: 100%;
	white-space: pre;
}
#rplusPopboxItem td,#rplusPopboxItem th{
	padding: 5px 3px 5px 3px;
}
#rplusPopboxItem>table img{
	vertical-align: middle;
	margin-right: 3px;
}
#rplusPopboxItem>table a{
	display: inline-block;
	overflow: hidden;
	max-width: 135px;
}


#rplusPopboxUser>div{
	position: absolute;
	height: calc(100% - 110px);
	width: 100%;
	top: 110px;
	left: 0px;
}
	
#rplusPopboxUser>div>div{
	padding-left: 5px;
}

#rppbuFlipper{
	-webkit-user-select: none;
	-moz-user-select: none;
	position: absolute;
	height: 16px;
	width: calc(100% - 120px);
	top: 3px;
	left: 115px;
	margin: 0px;
}
#rppbuFlipper>span{
	position: absolute;
}
#rppbuFlipper>.icon-left-16x16{
	cursor: pointer;
}
#rppbuFlipper>.icon-right-16x16{
	left: calc(100% - 16px);
	cursor: pointer;
}
#rppbuFlipper>span:nth-child(2){
	width: calc(100% - 32px);
	left: 16px;
	text-align: center;
	margin-top: -5px;
	font-size: 16px;
}

#rplusPopboxUser ul{
	padding: 0px;
}
#rplusPopboxLimiteds ul{
	padding: 4px 0px 0px 6px;
}

#rplusPopbox .list-item{
	display: inline-block;
	width: 95px;
	margin: 3px 0px;
}

#rplusPopbox .store-card{
	display: block;
	color: inherit;
	font-weight: 300;
}

#rplusPopbox .store-card-price{
	overflow: hidden;
}
#rplusPopbox .store-card-price>.icon-robux{
	position: absolute;
}
#rplusPopbox .store-card-price>.text-robux{
	position: relative;
	left: 16px;
	width: calc(100% - 16px);
}
#rplusPopbox .item-serial-number{
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 1px 3px;
	font-size: 11px;
	border-radius: 3px;
	background-color: #191919;
	color: #fff;
	line-height: 1em;
	text-align: center;
}

#rppbuRAP{
	position: absolute;
	height: 20px;
	width: calc(100% - 120px);
	top: 25px;
	left: 115px;
	margin: 0px;
}

#rppbuItems{
	position: absolute;
	height: 20px;
	width: calc(100% - 120px);
	top: 50px;
	left: 115px;
	margin: 0px;
}
#rppbuItems>span:last-child{
	margin-left: 5px;
}

#rplusPopboxUser select{
	position: absolute;
	height: 24px;
	width: calc(100% - 120px);
	top: 80px;
	left: 115px;
}



/* WebGL3D */
