.roblox-plus-thumbnail-image {
  display: block;
}

span.roblox-plus-thumbnail-image {
  // https://images.rbxcdn.com/48557c5d1a3323e45b2bb315f07004cf-placeholder_10182018.svg
  // modified to remove the full avatar placeholder, for convenience
  background: url(../../images/roblox/thumbnail-placeholders.svg);
  background-size: cover;

  &.roblox-plus-placeholder-thumbnail-asset {
    background-position-y: center;
  }

  &.roblox-plus-placeholder-thumbnail-avatarheadshot {
    background-position-y: bottom;
  }
}

.roblox-plus-presence-thumbnail {
  position: relative;

  .roblox-plus-thumbnail-image {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }

  .roblox-plus-presence {
    // https://images.rbxcdn.com/0825a5ee0156a0c2a2becccd5d563a01-friendsstatus.svg
    background: url(../../images/roblox/presence.svg);
    background-size: cover;
    position: absolute;
    display: block;
    height: 24px;
    width: 24px;
    bottom: 0;
    right: 0;

    // so convenient that there's exactly three images
    // top, bottom, center, love it
    &.roblox-plus-presence-experience {
      background-position-y: top;
    }

    &.roblox-plus-presence-online {
      background-position-y: bottom;
    }

    &.roblox-plus-presence-studio {
      background-position-y: center;
    }
  }
}
