/* roblox/itemCards.css [copied from Roblox] */
/*
	Include rplus class in all ul tags so it doesn't interfere with Roblox's implementation
*/
.rplus.icon-robux-16x16 {
	background-image: url(https://static.rbxcdn.com/images/Shared/branded_06282017.svg);
	background-repeat: no-repeat;
	background-size: 32px auto;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
}

/* WebGL3D */
