/* customIcon.css [4/4/2016] */
/* Basic Roblox */
#navigation .rplus-icon{
	background-image: url(images/navicon.png);
}
#navigation li:hover .rplus-icon{
	background-image: url(images/icons/icon_32x32.png);
}
#navigation li>a[href*='rplus']:hover{
	color: rgb(230, 61, 59);
}



/* WebGL3D */
