/*
	infoBox.css [01/21/2017]
*/
#rplus-infobox, #rplus-infobox * {
	box-sizing: border-box;
}

#rplus-infobox {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 350px;
	height: 500px;
	position: fixed;
	top: 40px;
	z-index: 1029;
	left: calc(100% - 360px);
	background-color: #fff;
	box-shadow: 0 1px 4px 0 rgba(25, 25, 25, 0.3);
	padding: 15px;
}

#rplus-infobox > .icon-back {
	position: absolute;
	top: 20px;
	cursor: pointer;
}

#rplus-infobox > input[type='text'] {
	border: 1px solid #B8B8B8;
	color: #191919;
	font-weight: 300;
	font-size: 16px;
	height: 38px;
	line-height: 100%;
	padding: 5px 12px 5px 25px;
	-webkit-appearance: none;
	display: block;
	width: 100%;
	background-color: #fff;
	background-image: none;
	border-radius: 3px;
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

#rplus-infobox .rplus-thumbnail {
	width: 100%;
	height: 110px;
	position: relative;
	overflow: hidden;
	display: block;
}

#rplus-infobox .rplus-thumbnail > img {
	height: 110px;
	width: 110px;
}

#rplus-infobox .rplus-thumbnail > span[class ^= 'icon-'] {
	height: 14px;
	top: calc(100% - 14px);
	left: 0px;
	width: 110px;
	position: absolute;
}

#rplus-infobox .rplus-thumbnail > span.name-label {
	height: 22px;
	width: calc(100% - 120px);
	left: 115px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#rplus-infobox .rplus-thumbnail > span.robux {
	top: 23px;
	left: 110px;
	height: 16px;
	width: calc(100% - 150px);
	font-size: 13px;
	position: absolute;
}



/* WebGL3D */
