/*
	RPlus.css
	CSS for all pages
*/
.icon-nav-rplus, .icon-rplus {
	width: 28px;
	height: 28px;
	background-size: 24px 24px;
	background-repeat: no-repeat;
	background-position: 2px 2px;
	display: inline-block;
}

#nav-rplus:hover span {
	color: rgb(230, 63, 62);
}

html {
	tab-size: 4;
}


.robux-text {
	color: #060;
	font-weight: bold;
}

.notification-red:empty, .notification-blue:empty {
	display: none;
}


input[type='range'] {
	height: 3px;
	-webkit-appearance: none;
	outline: 0px;
}

input[type='range']::-webkit-slider-thumb {
	width: 16px;
	height: 16px;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 8px;
	background: rgb(255,255,255);
	box-shadow: 1px 1px 5px #888888;
}


[data-rplus-collectibles] {
	cursor: pointer;
}



/* WebGL3D */
