/* style.css [4/20/16] */
textarea,code{
	tab-size: 4;
	-moz-tab-size: 4;
}

#navigation .rplus-icon{
	background-size: 100%;
	background-color: transparent;
	background-repeat: no-repeat;
	height: 28px;
	width: 28px;
	vertical-align: middle;
}


/* Notification Stream */
.notification-stream-header > span.text-label {
	margin-left: 3px;
	margin-right: 3px;
}

.notification-stream-header > span.text-link {
	float: left;
	cursor: pointer;
}

.rplus-stream-list .message-preview {
	max-height: 16px;
	overflow: hidden;
	white-space: pre-wrap;
}


/* Basic */
.notification-blue:empty, .notification-red:empty {
	display: none;
}

#rplusConfirmModal .modal-footer-note:empty{
	display: none;
}


.btn-toggle{
	padding: 0px !important;
}


.store-card{
	box-sizing: border-box;
	box-shadow: 0 1px 4px 0 rgba(25,25,25,0.3);
	background-color: #fff;
	border: 0 none;
	border-radius: 3px;
	margin: 0 5% 0 0;
	max-width: 150px;
	padding: 0;
	position: relative;
}
.store-card:hover{
	box-shadow: 0 1px 6px 0 rgba(25, 25, 25, 0.75);
}

.store-card img{
	max-width: 150px;
	max-height: 150px;
	width: 100%;
	height: auto;
}

.store-card .store-card-caption{
	border-top: 1px solid #B8B8B8;
	padding: 0 6px 6px;
}

.store-card .store-card-footer{
	height: 36px;
	text-align: center;
	margin-top: 6px;
}

.store-card .store-card-price{
	line-height: 1em;
}

.store-card .store-card-price .icon-robux{
	background-position: 0 -64px;
	background-size: 32px auto;
	width: 16px;
	height: 16px;
}


.rplusinventory[userid]{
	cursor: pointer;
}



/* Slider */
input.rplusslider[type='range']{
	width: 130px;
	height: 3px;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: 0;
	position: relative;
	top: -3px;
}

input.rplusslider[type='range']::-webkit-slider-thumb{
	width: 16px;
	height: 16px;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 8px;
	background: rgb(255,255,255);
	box-shadow: 1px 1px 5px #888888;
}


/* Games */		
.rbx-running-games-footer .pager {
	width: 250px;
	margin: 0px auto;
}



/* Audio */
.rplusaudio{
	-webkit-user-select: none;
	-moz-user-select: none;
}
.rplusaudio.icon-play:hover{
	cursor: pointer;
	background-position: -28px -308px;
}
.rplusaudio.icon-pause:hover{
	cursor: pointer;
	background-position: -28px -336px;
}

.rplusaudio:hover input.rplusslider[type='range'],.rplusaudio:active input.rplusslider[type='range'],.rplusaudio:focus input.rplusslider[type='range']{
	width: 50px;
	top: -31px;
	left: -11px;
}
 
.MediaPlayerIcon.rplusaudio:hover input.rplusslider[type='range'],.MediaPlayerIcon.rplusaudio:active input.rplusslider[type='range'],.MediaPlayerIcon.rplusaudio:focus input.rplusslider[type='range']{
	width: 50px;
	top: -26px;
	left: -14px;
}

.rplusaudio>input.rplusslider[type='range']{
	overflow: hidden;
	position: relative;
	width: 0px;
	height: 8px;
	left: 11px;
	top: -5px;
	transform: rotate(270deg);
	-webkit-transition: width .25s,top .25s,left .25s;
	-moz-transition: width .25s,top .25s,left .25s;
	border-radius: 8px;
}

.MediaPlayerIcon.rplusaudio>input.rplusslider[type='range']{
	left: 14px;
}

.rplusaudio>input.rplusslider[type='range']::-webkit-slider-thumb{
	width: 8px;
	height: 8px;
}




/* Control Panel */
#rplusControlPanel label{
	display: inline-block;
	margin-left: 3px;
	margin-right: 5px;
}
#rplusControlPanel label[for]{
	height: 16px;
	width: auto;
	min-width: 250px;
}

#rplusControlPanel .form-group{
	margin-bottom: 5px;
}
#rplusControlPanel .form-group>.form-group{
	margin-left: 20px;
	margin-bottom: 0px;
}

#rplusControlPanel .form-group>label:not([for])::before{
	border: none;
}

#rplusControlPanel .rbx-tooltip{
	height: 28px;
	width: 28px;
	display: inline-block;
	vertical-align: middle;
}
#rplusControlPanel .rbx-tooltip>.icon-moreinfo{
	top: 0px;
	left: 0px;
	position: relative;
}
#rplusControlPanel .tooltip{
	width: 200px;
}
#rplusControlPanel .tooltip-inner{
	text-align: center;
}

#rplusControlPanel .rbx-select-group .rbx-tooltip{
	cursor: default;
}
#rplusControlPanel .rbx-select{
	width: auto;
	height: 26px;
	margin-left: 5px;
	background-position: 98% 0px;
}

#rplusControlPanel .input-field{
	height: 26px;
	position: relative;
	top: 2px;
	margin-left: 3px;
	padding-left: 3px;
}


#rplusFeatures .form-group{
	margin-bottom: 10px;
}
#rplusFeatures label{
	margin-left: 0px;
}
#rplusFeatures a{
	color: #00A2FF;
}
#rplusFeatures a:hover{
	text-decoration: underline;
}



/* Profile */
.profile-header .header-details .details-info li{
	width: 25% !important;
}

.profile-avatar-right .profile-avatar-mask{
	padding: 20px 18px !important;
}



/* Groups */
.GroupWall_PostContainer{
	white-space: pre-wrap;
}



/* Money */
#RPlusTradeId{
	position: absolute;
	top: 3px;
	left: 3px;
	font-size: 10px;
	color: rgb(150,150,150);
}

#rplusCancelOutbound{
	position: absolute;
	width: 58px;
	left: calc(100% - 75px);
}

#TradeRequest .InventoryItemContainerOuter:hover .InventoryItemContainerInner{
	height: 170px !important;
}
#TradeRequest .InventoryItemContainerOuter[withserial]:hover .InventoryItemContainerInner{
	height: 190px !important;
}

.InventoryItemContainerInner:hover .BuildersClubOverlay{
	top: -78px !important;
}


/* Inventory */
.recommended-thumb{
	position: relative;
}

.item-card-thumb-container .rplusaudio,.recommended-thumb .rplusaudio{
	position: absolute;
	top: calc(100% - 28px);
	left: calc(100% - 28px);
}

.item-card-thumb-container .icon-alert{
	position: absolute;
	top: 0px;
	left: calc(100% - 20px) !important;
}



/* New Message */
#newmessage-content .message-title>a{
	margin-right: 5px;
}
#newmessage-content .message-title>a>span{
	margin-top: -3px;
}
#newmessage-content .message-title>input{
	margin-left: 12px;
	height: 20px;
	padding-left: 5px;
}



/* Character */
#tab_wardrobe{
	height: auto !important;
	min-height: 200px;
}
.CustomizeCharacterContainer .AttireContent{
	min-height: 150px !important;
}

#tab_wardrobe>input{
	width: 100%;
	font-size: 14px;
	height: 14px;
	margin-bottom: 5px;
}

#tab_wardrobe .AttireContent>.Asset{
	max-height: 180px;
	overflow: hidden;
}

#tab_wardrobe a.AssetThumbnail{
	display: inline-block;
}

#tab_wardrobe a>div.btn-neutral{
	display: block;
	position: absolute;
	top: 0px;
	right: -4px;
	text-align: center;
}


#ctl00_ctl00_cphRoblox_cphMyRobloxContent_ColorChooser>div{
	transition: height .25s;
	overflow: hidden;
}

#ctl00_ctl00_cphRoblox_cphMyRobloxContent_ColorChooser>div:not([id]){
	height: 350px;
	width: 350px;
	position: relative;
}

#ctl00_ctl00_cphRoblox_cphMyRobloxContent_ColorChooser>div:not([id])>div{
	position: absolute;
	width: 35px;
	height: 35px;
	margin: 4.375px;
	cursor: pointer;
}

#ctl00_ctl00_cphRoblox_cphMyRobloxContent_ColorChooser{
	position: relative;
}

#ctl00_ctl00_cphRoblox_cphMyRobloxContent_ColorChooser>.btn-neutral{
	position: absolute;
	right: -5px;
	top: 0px;
}



/* Item V2 */
.resale-pricechart-tabs[rplus='1'] #horizontal-tabs .rbx-tab{
	width: 100%;
}

.resale-pricechart-tabs[rplus='2'] #horizontal-tabs .rbx-tab{
	width: 50%;
}

.resale-pricechart-tabs[rplus='3'] #horizontal-tabs .rbx-tab{
	width: 33.333%;
}

.resale-pricechart-tabs[rplus='4'] #horizontal-tabs .rbx-tab{
	width: 25%;
}

.resale-pricechart-tabs[rplus='5'] #horizontal-tabs .rbx-tab{
	width: 20%;
}


#price-chart .price-chart-info-container{
	width: 25%;
}


#owners .pager{
	float: right;
	margin: 0px;
}
#owners .pager, #owners .pager *{
	display: inline-block;
}
#owners .pager .input-field{
	height: 24px;
	margin-left: 5px;
	margin-right: 5px;
}

#owners .avatar[data-bc="1"] {
	box-shadow: 0 1px 4px 0 rgba(0, 163, 217, .7);
}
#owners .avatar[data-bc="1"]:hover {
	box-shadow: 0 1px 4px 0 rgba(0, 163, 217, 1);
}

#owners .avatar[data-bc="2"] {
	box-shadow: 0 1px 4px 0 rgba(229, 133, 18, .7);
}
#owners .avatar[data-bc="2"]:hover {
	box-shadow: 0 1px 4px 0 rgba(229, 133, 18, 1);
}

#owners .avatar[data-bc="3"] {
	box-shadow: 0 1px 4px 0 rgba(217, 0, 0, .7);
}
#owners .avatar[data-bc="3"]:hover {
	box-shadow: 0 1px 4px 0 rgba(217, 0, 0, 1);
}



/* Messages */
.roblox-messages-container.rplus>ui-view.tab-content-container{
	display: none;
}
.roblox-messages-container:not(.rplus)>div.tab-content-container{
	display: none;
}


.roblox-messages-container.rplus .roblox-messages-btns{
	transition: height .25s;
	overflow: hidden;
}
.roblox-messages-container.rplus .roblox-messages-btns>div:last-child{
	margin-top: 40px;
}
.roblox-messages-container.rplus .roblox-messages-btns>div:last-child>*{
	float: left;
}
.roblox-messages-container.rplus .roblox-messages-btns>div:last-child>input{
	height: 15px;
	width: 200px;
	font-size: 14px;
}
.roblox-messages-container.rplus .roblox-messages-btns>div:last-child>select{
	height: 27px;
	display: inline-block;
}
.roblox-messages-container.rplus .roblox-messages-btns>div:last-child>button{
	margin-top: 0px;
}


.roblox-messages-container>div.tab-content-container .pagingDiv>*{
	vertical-align: middle;
}
.roblox-messages-container>div.tab-content-container .pagingDiv>input{
	margin: 0px 4px;
	height: 15px;
	width: 100px;
	text-align: center;
	font-size: 14px;
}

.roblox-messages-container>.tab-container .notifications-count{
	margin-left: -2px;
}


#catalog-content {
	background-color: #E3E3E3;
}

/* everything else */
.create-server-banner-text {
	white-space: pre-wrap;
}


/* WebGL3D */
