/* /css/rplus/quickInfo.css [05/18/2017] */
#navbar-rplus {
	padding: 4px;
}

#navbar-rplus > a {
	width: 28px;
	height: 28px;
	margin: 2px;
}


#rplus-quickinfo {
	width: 370px;
	height: 500px;
	right: 10px;
	padding: 5px;
	overflow-y: auto;
	overflow-x: hidden;
}

#rplus-quickinfo::-webkit-scrollbar {
	width: 6px;
}

#rplus-quickinfo::-webkit-scrollbar-track {
	background-color: rgb(240, 240, 240);
}

#rplus-quickinfo::-webkit-scrollbar-thumb {
	background-color: rgb(188, 188, 188);
	border-radius: 3px;
	-webkit-transition: background-color .5s;
}

#rplus-quickinfo::-webkit-scrollbar-thumb:hover {
	background-color: rgb(169, 169, 169);
}


#rplus-quickinfo, #rplus-quickinfo * {
	box-sizing: border-box;
}

#rplus-quickinfo input {
	font-family: "Source Sans Pro",Arial,Helvetica,sans-serif;
}


#rplus-quickinfo .form-group {
	width: 100%;
}

#rplus-quickinfo .form-control.input-field {
	width: 100%;
}


#rplus-quickinfo > div > div {
	display: none;
}

#rplus-quickinfo > div > div[selected] {
	display: block;
}



/* Users */
#rplus-quickinfo .item-cards > .item-card {
	width: 115px;
	padding: 5px;
}

#rplus-quickinfo .item-cards .item-card-container {
	width: 110px;
}

#rplus-quickinfo .item-cards .item-card-container .item-card-thumb-container {
	width: 110px;
	height: 110px;
}



/* WebGL3D */
