/* css/rplus/images.css [5/18/2017] */
*[class^='rplus-icon-'] {
  padding: 0px !important;
  background-size: 100%;
}

.rplus-icon-32x32 {
  background-image: url(../../images/icons/icon_32x32.png);
  width: 32px;
  height: 32px;
}

/* WebGL3D */
