// New stuff
@import '../components/modal';
@import '../features/navigation-widget.scss';

// Old stuff
@import '../themes/dark-theme.scss';
@import '../rplus/images.scss';

// twemojis
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}
