@import '../easterEggs/rockefellerStreet.scss';

game-badges-list {
	.badge-image {
		border-radius: 100%;
		overflow: hidden;
		position: relative;

		.achievement-date {
			background-color: rgba(25, 25, 25, 0.6);
			position: absolute;
			top: 16px;
			width: 100%;
		}
	}
}
