@import './components/presence-thumbnail';

body {
  margin: 0;

  #root {
    min-width: 384px;
    min-height: 512px;
    display: flex;
    justify-content: center;
    align-items: center;

    .MuiAlert-root {
      align-items: center;
    }
  }
}

.browser-action-header {
  .roblox-plus-presence-thumbnail {
    width: 96px;
    height: 96px;
    margin: 8px;
  }
}
