/* customIcon.css [4/4/2016] */
/* Basic Roblox */
#navigation .rplus-icon {
  background-image: url(../images/icon_outline_black.svg);
}

#navigation.dark-theme .rplus-icon,
.dark-theme #navigation .rplus-icon {
  background-image: url(../images/icon_outline_grey.svg);
}

#navigation li:hover .rplus-icon {
  background-image: url(../images/icon_outline_red.svg);
}

#navigation li > a[href*='rplus']:hover {
  color: rgb(224, 34, 26);
}

/* WebGL3D */
