#navbar-robux:not(.devex-rate-visible) {
  #rplus-devex-rate {
    display: none;
  }
}

#nav-rplus {
  .icon-nav-rplus {
    background-image: url(../images/icons/navbar_icon.png);
    width: 28px;
    height: 28px;
    display: inline-block;
    background-size: contain;
    opacity: 0.8;
  }
  
  &:hover {
    .icon-nav-rplus {
      opacity: 1;
    }
  }
}
