/* style.css [4/20/16] */
textarea,code{
	tab-size: 4;
	-moz-tab-size: 4;
}

#navigation .rplus-icon{
	background-size: 100%;
	background-repeat: no-repeat;
	height: 28px;
	width: 28px;
	vertical-align: middle;
	display: inline-block;
}

/* Basic */
.notification-blue:empty, .notification-red:empty {
	display: none;
}

/* WebGL3D */
