// https://www.roblox.com/reference/styleguide#themes
$Slate: #232527;
$Flint: #393B3D;
$Obsidian: #18191B;

$primary-text-color: #fff;
$text-label-color: #bdbebe;
$text-link-color: #fff;
$tab-text-color: #bdbebe;
$tab-text-active-color: #fff;

.rplus-premium-subscriber {
	background-color: inherit;

	body.dark-theme.rplus-dark-theme {
		#BodyWrapper,
		#Body,
		.tab-content, 
		.tab-container+div>div {
			background: transparent;
		}

		/* Global rules */
		form#upload-form[action^="/build/"],
		#BodyWrapper {
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				color: $primary-text-color;
	
				a {
					color: $primary-text-color;
				}
			}
	
			.form-label {
				color: $text-label-color;
			}
	
			a:link, a:visited, a:active {
				color: $text-link-color;
			}
	
			.btn-control, 
			.btn-control:active,
			.btn-control:link,
			.btn-control:visited, 
			.btn-control:hover {
				color: $Obsidian;
			}
	
			.SquareTabGray,
			.tab-container>div {
				background-color: $Flint;
				color: $tab-text-color;

				a {
					color: $tab-text-color;

					&:hover {
						background-color: transparent;
						color: $tab-text-active-color
					}
				}
	
				&:hover,
				&.tab-active,
				&.selected {
					color: $tab-text-active-color;

					a {
						color: $tab-text-active-color;
					}
				}
			}

			.verticaltab {
				background-color: $Flint;
				color: $tab-text-color;

				a {
					color: $tab-text-color;
				}

				&:hover,
				&.selected {
					color: $tab-text-active-color;

					a { 
						color: $tab-text-active-color;
					}
				}
			}

			.table-header th {
				background-color: $Flint;
			}

			.accord-header {
				background: $Flint;
			}

			.status-error,
			.status-confirm {
				color: $Obsidian;
			}
		}

		/* Group pages */
		#AuditPage {
			h1 a {
				color: $primary-text-color;

				&:hover {
					color: $primary-text-color;
				}
			}

			.AuditLogContainer tr.header td {
				background-color: $Flint;
			}
		}

		#update-distribution-form,
		#payout-form {
			color: $Obsidian;
		}

		#GroupTitle {
			a {
				color: $text-link-color !important;
				font-style: inherit !important;
			}
		}

		/* Develop page */
		#MyCreationsTab,
		#DevelopTabs,
		#GroupCreationsTab {
			.widget-name {
				background-color: $Flint;
			}

			.gear-button-wrapper {
				background-color: transparent !important;
				border-color: transparent !important;
			}

			table.section-header label.checkbox-label {
				color: $text-label-color;
			}

			.item-table .totals-label span {
				color: $primary-text-color;
			}

			#build-dropdown-menu a {
				color: $Obsidian;
			}

			td.menu-area a {
				background-color: $Flint;
				color: $tab-text-color !important;
				
				&.tab-item-selected {
					color: $tab-text-active-color !important;
				}
			}
		}

		#LibraryTab {
			.CatalogItemOuter {
				.CatalogItemInner,
				.SmallCatalogItemView {
					background: transparent;
				}

				.NotAPrice,
				.HoverInfo {
					color: $primary-text-color;
				}

				.CatalogItemInfoLabel {
					color: $text-label-color;
				}

				&:hover {
					.CatalogItemInner,
					.SmallCatalogItemView {
						background: $Flint;
					}
				}
			}

			div#catalog div#dropdown {
				ul li a {
					color: $tab-text-color;

					&.selectedAssetTypeFilter,
					&:hover {
						background: $Flint;
						color: $tab-text-active-color;
					}
				}

				ul#dropdownUl {
					background: $Flint;
				}
			}

			#catalog .loading {
				background-color: $Slate;
			}
		}

		/* Game Configuration */
		#universe-configure {
			.missing-start-place {
				background-color: $Flint;
			}
		}

		#placeForm .headline-banner {
			background-color: $Flint;
		}

		/* Money */
		.MyMoneyPage {
			#Summary_tab .RobuxColumn, 
			#Summary_tab .TicketsColumn,
			.StandardPanelContainer .StandardPanelWhite {
				background: transparent;
			}

			.loading {
				background: $Slate url(https://static.rbxcdn.com/images/ProgressIndicator4.gif) no-repeat center !important;
			}
		}

		/* VIP Server Configuration */
		#configure-form {
			#whitelist.disabled {
				background: $Flint;
			}
		}

		/* Builders Club */
		#BCPageContainer {
			.product-summary .product-description {
				color: $text-label-color;
			}
		}
	}
}
