.rplus-notification-stream {
	.notification-stream-item {
		overflow: hidden;

		.notification-image-container {
			border-radius: 50%;
			overflow: hidden;
	
			img {
				width: 100%;
				height: 100%;
			}
		}

		.notification-data-container {
			margin-top: -4px;

			.text-subject {
				white-space: pre;
				overflow: hidden;
			}
		}
	}
}