.rplus-quick-info-widget {
	padding: 0;
	overflow: hidden;
	margin-top: -4px;
	right: 10px;
	width: 418px;
	height: 0;
	transition: height 0.2s, padding 0.2s;

	&.rplus-quick-info-widget-open {
		height: 600px;
		padding: 5px;
		overflow-y: auto;
	}

	.form-group {
		.input-field {
			width: 402px;
		}
	}

	.rplus-quick-info-widget-user {
		.avatar-card-container {
			width: 402px;

			.avatar-card-image {
				overflow: hidden;
	
				img {
					width: 100%;
					height: 100%;
				}
			}
		}

		.rplus-icon-32x32 {
			display: block;
			position: absolute;
			top: 5px;
			right: 5px;
		}
	}

	.rplus-quick-info-widget-inventory {
		.item-card {
			width: 126px;
			height: 220px;
			margin-right: 5px;

			a:link, a:visited, a:active {
				color: inherit;
			}

			img {
				width: 100%;
				height: 100%;
			}

			.item-card-price {
				position: absolute;
				bottom: 10px;

				.text-robux {
					margin-left: 6px;
				}
			}
		}
	}

	&::-webkit-scrollbar {
		width: 6px;
	}

	&::-webkit-scrollbar-track {
		background-color: rgb(240, 240, 240);
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgb(188, 188, 188);
		border-radius: 3px;
		transition: background-color .5s;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: rgb(169, 169, 169);
	}
}

.dark-theme {
	.rplus-quick-info-widget.roblox-popover-container {
		background: #1f2123;

		&::-webkit-scrollbar {
			width: 6px;
		}
	
		&::-webkit-scrollbar-track {
			background-color: transparent;
		}
	
		&::-webkit-scrollbar-thumb {
			background-color: #000;
			opacity: 0.75;
		}
	
		&::-webkit-scrollbar-thumb:hover {
			opacity: 0.25;
		}
	}
}

/* Legacy pages are weird... */
body:not(.rbx-body) {
	.rplus-quick-info-widget {
		margin-top: 0;
		padding: 0;

		* {
			box-sizing: border-box;
		}

		.rplus-quick-info-widget-inventory {
			padding-left: 0;

			.item-card {
				.limited-icon-container {
					border-radius: 12px;
					padding: 2px 5px;
				}
			}
		}
	}	
}

/* WebGL3D */
