$page-width: 970px;
$tabs-width: 160px;
$tab-content-padding: 12px;
$section-content-padding: 15px;

#rplus-settings {
	.rbx-tabs-vertical .rbx-tab-content {
		width: 100%;
		max-width: calc(#{$page-width} - #{$tabs-width});
		padding-left: $tab-content-padding;

		.rplus-premium-section {
			pre {
				white-space: pre-wrap;
			}
		}

		.rplus-update-log-section {
			textarea {
				width: calc(#{$page-width} - #{$tabs-width} - #{$tab-content-padding} - #{$section-content-padding} - #{$section-content-padding});
				height: 450px;
				resize: none;
			}

			&.form-group {
				-webkit-user-select: none;
			}
		}

		.rbx-divider {
			margin-top: 12px;
			margin-bottom: 4px;
		}

		a.icon-Musical,
		a.icon-plus,
		a.icon-alert {
			float: right;
			-webkit-user-select: none;
		}

		#rplus-groupshout-notifier-input,
		.rplus-groupshout-whitelist {
			margin-top: 12px;
		}

		.rplus-feature-list {
			.text-date-hint {
				span {
					vertical-align: middle;
				}
			}
		}

		.select-group.rbx-select-group {
			max-width: 250px;
			float: right;
			margin-top: -8px;
		}
	}
}
