/*
	ROBLOX+ Account.css
*/
#user-account {
	display: none;
}

.page-content .col-sm-12 > div {
	margin-top: 4px;
}

.page-content h3 {
	cursor: pointer;
}

.rplus-slider {
	position: absolute;
	left: 15%;
	margin-top: 8px;
}

.rplus-slider[data-rplus-storage *= 'signatureLines'] {
	left: 35%;
}

.page-content .btn-primary-sm, .page-content .btn-alert-sm {
	position: absolute;
	left: calc(100% - 100px);
	width: 94px;
}

#rplus-reload {
	top: 35px;
}


input[type='number']::-webkit-outer-spin-button, input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
}


.icon-play, .icon-pause, .icon-audio, .icon-brokenpage {
	left: calc(100% - 35px);
	position: absolute;
	margin-top: -33px;
	cursor: pointer;
}

.icon-play:hover {
	background-position: -28px -308px;
}

.icon-pause:hover {
	background-position: -28px -336px;
}



/* WebGL3D */