/*
	ROBLOX+ Forums.css
*/
.forum-content-background a.normalTextSmallBold[href *= "/users/"] {
	text-overflow: ellipsis;
	overflow: hidden;
	width: 110px;
	display: inline-block;
	vertical-align: middle;
}

#ctl00_cphRoblox_PostView1_ctl00_PostTitle {
	text-overflow: ellipsis;
	overflow: hidden;
	width: 768px;
	white-space: nowrap;
}


.forum-post>.forum-content-background:last-child>table>tbody>tr:nth-child(2)>td{
	overflow-y: auto;
	overflow-x: hidden;
	width: 630px;
	height: 100% !important;
	display: inline-block;
	min-height: 125px;
}

.forum-post.collapsed>.forum-content-background>table>tbody>tr:nth-child(2)>td{
	max-height: 250px;
}


.forum-post>.forum-content-background:first-child{
	-webkit-user-select: none;
}
.forum-post>.forum-content-background:first-child span, .forum-post.collapsed>.forum-content-background:first-child a {
	-webkit-user-select: text;
}


a.post-list-subject{
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 275px;
}

a.last-post > div.normalTextSmaller{
	text-overflow: ellipsis;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	max-width: 107px;
	width: 100%;
}

a.post-list-author div.normalTextSmaller{
	text-overflow: ellipsis;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	max-width: 110px;
	width: 100%;
	height: 100%;
}


#ctl00_cphRoblox_PostView1 input[type='checkbox'], #ctl00_cphRoblox_PostView1 label{
	vertical-align: middle;
	margin: 0px 3px;
}


#ctl00_cphRoblox_Createeditpost1_PostForm_AllowReplies, #ctl00_cphRoblox_Createeditpost1_PostForm_AllowReplies {
	vertical-align: middle;
	margin: 0px 2px;
}


img.rplus-embedded {
	width: 100px;
	height: 100px;
	vertical-align: middle;
}

.forum-content-background a.icon-rplus-small {
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: sub;
	color: rgba(0, 0, 0, 0);
}

.forum-content-background a[data-video] {
	background-image: url(https://www.youtube.com/favicon.ico);
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
	padding-left: 20px;
}


.forum-content-background td.linkify {
	white-space: pre-wrap;
}



.rplusLua {
	position: relative;
	display: inline-block;
	width: 100%;
	font-family: Courier New;
	font-size: 10pt;
	color: rgb(0, 0, 0);
	line-height: 17px;
	overflow-x: scroll;
	overflow-y: hidden;
}

.rplusLua::-webkit-scrollbar {
	height: 6px;
}
.rplusLua::-webkit-scrollbar-track {
	background-color: transparent;
}
.rplusLua::-webkit-scrollbar-thumb {
	background-color: rgb(188, 188, 188);
	border-radius: 3px;
	-webkit-transition: background-color .5s;
	-moz-transition: background-color .5s;
}
.rplusLua::-webkit-scrollbar-thumb:hover {
	background-color: rgb(169,169,169);
}

.rplusLua > * {
	position: absolute;
	height: 100%;
}

.rplusLua > span{
	padding-left: 3px;
	-moz-user-select: none;
	-webkit-user-select: none;
	width: 35px;
	background-color: rgb(221,221,221);
}

.rplusLua > code{
	left: 38px;
	padding-left: 3px;
	word-wrap: normal;
	white-space: pre;
	overflow: hidden;
	width: auto;
	min-width: calc(100% - 41px);
	font-family: Courier New;
	background-color: rgb(245,245,245);
}


/* WebGL3D */
