/*
	Profile.css [12/3/2016]
*/
.profile-container .profile-header .header-details .details-info {
	width: 46%;
}

.profile-container .profile-header .header-details .details-actions {
	width: 35%;
}

.profile-container .profile-header .header-details .details-info li {
	width: 25%;
}


/* WebGL3D */
