/* easter.css [4/5/2016] */
.easter-theme .open .input-dropdown-btn,.easter-theme .input-group-btn .input-dropdown-btn:hover,.easter-theme .input-group-btn .input-dropdown-btn:focus,
.easter-theme .nav-container,.easter-theme .nav-container .nav-content,.easter-theme .btn-secondary-xs:hover,.easter-theme .btn-secondary-sm:hover,.easter-theme .btn-secondary-md:hover,.easter-theme .btn-secondary-lg:hover{
	background-color: rgb(220,126,207) !important;
	border-color: rgb(220,126,207) !important;
	outline-color: rgb(255,255,255);
}
.easter-theme #MasterContainer,.easter-theme .container-footer,.easter-theme .container-main>.content{
	background: none;
}

.easter-theme .profile-container>div>.tab-content.rbx-tab-content{
	margin-top: 0px;
}
.easter-theme .container-main>.content>.row,.easter-theme .profile-container>div>.tab-content.rbx-tab-content{
	background-color: #f2f2f2;
}

.easter-theme .dialog-container .dialog-header .dialog-header-title,.easter-theme .dialog-container .dialog-header,.easter-theme .chat-main .chat-header,
.easter-theme .tableHeaderText,.easter-theme .forum-table-header,.easter-theme .forum-table-header th,.easter-theme .forum-table-footer,.easter-theme #header,.easter-theme #header .nav.rbx-navbar a,.easter-theme #header .nav.rbx-navbar a:visited{
	background-color: rgb(220, 126, 207);
}
.easter-theme .dialog-container .dialog-header .dialog-header-title:after,.easter-theme .notification-blue{
	background: rgb(220, 126, 207);
}


/* Navigation */
.easter-theme .rbx-header .rbx-navbar-icon-group>li>.rbx-menu-item,.easter-theme #header .nav.rbx-navbar a,.easter-theme #header .nav.rbx-navbar a:visited{
	background-color: rgba(220,126,207,.5);
}
.easter-theme .rbx-header .rbx-navbar-icon-group li .rbx-menu-item{
	border-radius: 20px;
}
.easter-theme #header .nav.rbx-navbar a:hover{
	background-color: rgba(233,185,227,.5);
}


/* Chat */
@-webkit-keyframes easter-blink-dialog{
    from{
        background-color: rgb(220, 126, 207);
    }

    to{
        background-color: rgb(233, 185, 227);
    }
}
.easter-theme .dialog-container.active .dialog-header,.easter-theme .dialog-container.active #chat-title{
    background-color: rgb(220, 126, 207);
    animation: easter-blink-dialog .5s alternate infinite;
}
.easter-theme .dialog-container .dialog-message-container .dialog-message{
	background-color: rgb(249, 229, 247);
	color: rgb(91, 56, 109);
}
.easter-theme .dialog-container .dialog-message-container.message-inbound .dialog-message{
	color: rgb(91, 56, 109);
}
.easter-theme .dialog-container .dialog-message-container .dialog-triangle:before{
	border-color: transparent transparent transparent rgb(249, 229, 247);
}


/* Footer */
.easter-theme .footer-link a,.easter-theme .footer-link a:link,.easter-theme .footer-link a:active{
	color: rgb(91, 56, 109);
}


/* Tabs, Dropdowns, and Buttons */
.easter-theme .rbx-tabs-horizontal .rbx-tab.active .rbx-tab-heading,.easter-theme .rbx-tabs-horizontal .rbx-tab-heading:hover,.easter-theme .rbx-tabs-horizontal .rbx-tab-heading:focus,.easter-theme .rbx-tabs-horizontal .rbx-tab-heading:active{
	box-shadow:0 -4px 0 0 rgb(220, 126, 207) inset;
}

.easter-theme .rbx-tabs-vertical .rbx-tab.active .rbx-tab-heading,.easter-theme .rbx-tabs-vertical .rbx-tab-heading:hover,.easter-theme .rbx-tabs-vertical .rbx-tab-heading:focus,.easter-theme .rbx-tabs-vertical .rbx-tab-heading:active,
.easter-theme .input-group-btn .dropdown-menu li a:hover,.easter-theme .rbx-header .rbx-navbar-search .rbx-navbar-search-option.selected,.easter-theme .rbx-input-group-btn .dropdown-menu li a:hover,.easter-theme .rbx-input-group-btn .dropdown-menu li a:focus,.easter-theme .rbx-input-group-btn .dropdown-menu li a.active,.easter-theme .dropdown-menu li:hover{
	box-shadow: 4px 0 0 0 rgb(220, 126, 207) inset;
}

.easter-theme .btn-secondary-xs,.easter-theme .btn-secondary-sm,.easter-theme .btn-secondary-md,.easter-theme .btn-secondary-lg{
	background-color: rgb(220, 126, 207) !important;
	border-color: rgb(220, 126, 207) !important;
}
.easter-theme .btn-secondary-xs:hover,.easter-theme .btn-secondary-sm:hover,.easter-theme .btn-secondary-md:hover,.easter-theme .btn-secondary-lg:hover{
	background: rgb(233, 185, 227) !important;
}



/* WebGL3D */
