/* obc.css [4/5/2016] */
.obc-theme,.obc-theme .nav-content-inner{
	background: url(https://images.rbxcdn.com/7b740ce2fe1bb189612252b3b93c5b83.jpg) top center repeat-x rgb(34, 34, 34);
}

.obc-theme #header .nav.rbx-navbar a:hover,
.obc-theme .open .input-dropdown-btn,.obc-theme .input-group-btn .input-dropdown-btn:hover,.obc-theme .input-group-btn .input-dropdown-btn:focus,
.obc-theme .nav-container,.obc-theme .nav-container .nav-content,.obc-theme .btn-secondary-xs:hover,.obc-theme .btn-secondary-sm:hover,.obc-theme .btn-secondary-md:hover,.obc-theme .btn-secondary-lg:hover{
	background-color: rgb(34, 34, 34) !important;
	border-color: rgb(242, 242, 242) !important;
	outline-color: rgb(255,255,255);
}
.obc-theme #MasterContainer,.obc-theme .container-footer,.obc-theme .container-main>.content{
	background: none;
}

.obc-theme .profile-container>div>.tab-content.rbx-tab-content{
	margin-top: 0px;
}
.obc-theme .container-main>.content>.row,.obc-theme .profile-container>div>.tab-content.rbx-tab-content{
	background-color: #f2f2f2;
	padding: 6px;
}

.obc-theme .dialog-container .dialog-header .dialog-header-title,.obc-theme .dialog-container .dialog-header,.obc-theme .chat-main .chat-header,
.obc-theme .tableHeaderText,.obc-theme .forum-table-header,.obc-theme .forum-table-header th,.obc-theme .forum-table-footer,.obc-theme #header,.obc-theme #header .nav.rbx-navbar a,.obc-theme #header .nav.rbx-navbar a:visited{
	background-color: rgb(57, 57, 57);
}
.obc-theme .dialog-container .dialog-header .dialog-header-title:after,.obc-theme .notification-blue{
	background: rgb(57, 57, 57);
}


/* Chat */
@-webkit-keyframes obc-blink-dialog{
    from{
        background-color: rgb(34, 34, 34);
    }

    to{
        background-color: rgb(57, 57, 57);
    }
}
.obc-theme .dialog-container.active .dialog-header,.obc-theme .dialog-container.active #chat-title{
    background-color: rgb(40,40,40);
    animation: obc-blink-dialog .5s alternate infinite;
}
.obc-theme .dialog-container .dialog-message-container .dialog-message{
	background-color: rgb(90,90,90);
	color: white;
}
.obc-theme .dialog-container .dialog-message-container.message-inbound .dialog-message{
	color: black;
}
.obc-theme .dialog-container .dialog-message-container .dialog-triangle:before{
	border-color: transparent transparent transparent rgb(90,90,90);
}


/* Footer */
.obc-theme .container-footer .footer-note{
	color: white;
}


/* Tabs, Dropdowns, and Buttons */
.obc-theme .rbx-tabs-horizontal .rbx-tab.active .rbx-tab-heading,.obc-theme .rbx-tabs-horizontal .rbx-tab-heading:hover,.obc-theme .rbx-tabs-horizontal .rbx-tab-heading:focus,.obc-theme .rbx-tabs-horizontal .rbx-tab-heading:active{
	box-shadow: 0 -4px 0 0 rgb(31,31,31) inset;
}

.obc-theme .rbx-tabs-vertical .rbx-tab.active .rbx-tab-heading,.obc-theme .rbx-tabs-vertical .rbx-tab-heading:hover,.obc-theme .rbx-tabs-vertical .rbx-tab-heading:focus,.obc-theme .rbx-tabs-vertical .rbx-tab-heading:active,
.obc-theme .input-group-btn .dropdown-menu li a:hover,.obc-theme .rbx-header .rbx-navbar-search .rbx-navbar-search-option.selected,.obc-theme .rbx-input-group-btn .dropdown-menu li a:hover,.obc-theme .rbx-input-group-btn .dropdown-menu li a:focus,.obc-theme .rbx-input-group-btn .dropdown-menu li a.active,.obc-theme .dropdown-menu li:hover{
	box-shadow: 4px 0 0 0 rgb(31,31,31) inset;
}

.obc-theme .btn-secondary-xs,.obc-theme .btn-secondary-sm,.obc-theme .btn-secondary-md,.obc-theme .btn-secondary-lg{
	background-color: rgb(57, 57, 57) !important;
	border-color: rgb(57, 57, 57) !important;
}
.obc-theme .btn-secondary-xs:hover,.obc-theme .btn-secondary-sm:hover,.obc-theme .btn-secondary-md:hover,.obc-theme .btn-secondary-lg:hover{
	background: rgb(34, 34, 34) !important;
}

.obc-theme .open .input-dropdown-btn .icon-down-16x16,.obc-theme .input-group-btn .input-dropdown-btn:hover .icon-down-16x16,.obc-theme .input-group-btn .input-dropdown-btn:focus .icon-down-16x16{
	-webkit-filter: invert(100%);
}



/* WebGL3D */
